* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --jasmine: #fbd784;
  --bg: #0b1d26;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
nav label,
input {
  appearance: none;
}
header {
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 5;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo a {
  color: var(--white);
}
@media (max-width: 991px) {
  nav label img {
    cursor: pointer;
  }
  nav {
    position: relative;
  }
  nav input:checked + ul {
    display: block;
  }
  nav ul {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 200px;
    background-color: var(--white);
  }
  nav ul li a {
    display: block;
    padding: 15px;
    color: var(--black);
  }
  nav ul li:not(:last-child) {
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }
}
@media (min-width: 992px) {
  nav label,
  input {
    display: none;
  }
  nav ul {
    display: flex;
  }
  nav ul li a {
    padding: 0 20px;
    color: var(--white);
  }
}
.hero {
  background-image: url(../images/hero.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
span {
  display: block;
  position: relative;
  padding-left: 50px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--jasmine);
}
span::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: var(--jasmine);
}
.hero .title h1 {
  font-size: 42px;
  line-height: 1.5;
  color: var(--white);
}
.hero .title a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: var(--white);
}
.articles,
footer {
  padding: 75px 0;
  background-color: var(--bg);
}
.articles .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}
@media (min-width: 992px) {
  .articles article,
  .articles .image {
    width: 45%;
  }
}
.articles article {
  color: var(--white);
}
article h2 {
  position: relative;
  margin: 20px 0;
}
article h2::before {
  content: "01";
  position: absolute;
  top: -80px;
  left: -40px;
  font-size: 100px;
  color: rgb(255 255 255 / 0.4);
}
article p {
  line-height: 1.5;
}
article a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: var(--jasmine);
}
.the-equipment .container {
  flex-direction: row-reverse;
}
.the-equipment h2::before {
  content: "02";
}
.the-map article h2::before {
  content: "03";
}
.links .container {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .links .container {
    justify-content: center;
  }
}
.info h3 {
  margin-bottom: 20px;
  color: var(--white);
}
.info .description {
  line-height: 1.5;
  color: var(--white);
}
.info .copyright {
  margin: 60px 0 30px 0;
  color: rgb(255 255 255 / 0.6);
}
.link h3 {
  color: var(--jasmine);
}
.link a {
  display: block;
  padding: 10px 0;
  color: white;
}
